<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home page <%= 'hello '.toUpperCase() + 'WORLD' + 10%></h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium quam consequatur impedit. Obcaecati itaque
        soluta magni id dolore numquam nihil consequuntur. Minus hic quos aut aliquam iste ad laudantium beatae.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, fuga excepturi. Optio itaque voluptatem eos et
        ipsum rerum sequi quaerat suscipit, quasi maxime. Omnis nesciunt unde nisi, doloremque sapiente accusamus.</p> 
</body>

</html>