<%- include('partials/head') %>

        <%- include('partials/navbar') %>
            <h1> Error 404!</h1>
            <hr>
            <h2>Sorry, we couldn't find this page :(</h2>

            <%- include('partials/footer') %>